/*ROOT - UNIVERSAL - HTML*/
:root{
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #181818;
    --efecto: all .5s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

/*ASIDE BAR*/
.container aside{
    width: 20%;
    height: 100vh;
    background-color: #000000;
    padding: var(--padding);
}

.container aside .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container aside .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #c5c5c5;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container aside .menu a span{
    margin-right: 8px;
}

.container aside .menu a.active{
    background-color: #282828;
    border-radius: 5px;
    color: #ffffff;
}

.container aside .menu a:hover{
    color: #ffffff;
}

.container section{
    width: 80%;
    height: 100vh;
    color: #ffffff;
    background-color: var(--fondo);
    overflow-y: scroll;
    padding-bottom: 5rem;
}


/*HEADER*/
.formbusqueda{
margin-right: 650px;
}
.container section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    padding: var(--padding);
    width: 80%;
    background-color: #505053;
    z-index: 2;
}
.container section header .botones_prev_next,.container section header .suscribcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container section header .botones_prev_next span{
    cursor: pointer;
}
.container section header .botones_prev_next span.btn_prev{
    margin-right: 10px;
}

.container section header .suscribcion .perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    width: auto;
    padding: .4em 5px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 2;
}
.container section header .suscribcion .perfil .circulo{
    background-color: #333333;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.circulo, .nombre{
    margin-right: 5px;
}

.imgSuscripcion{
    width: 25px;
    border-radius: 80%;
}

.imgAside{
    background-color: white;
    width: 20px;
}
.imgGM{
width: 250px;
}
/*CONTAINER BANNER PRINCIPAL*/
.container section .contenedor_degradado, .container section .contenedor_contenido{
    padding: var(--padding);
}
.container section .contenedor_degradado{
    background: linear-gradient(#505053,#181818);
    width: 100%;
    margin-top: 61px;
}
.container section .contenedor_degradado .banner{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.container section .contenedor_degradado .banner .cancion{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 1em;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.container section .contenedor_degradado .banner .cancion figure{
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--efecto);
}
.container section .contenedor_degradado .banner .cancion figure img{
    width: 100%;
    height: 100%;
}
.container section .contenedor_degradado .banner .cancion figure:hover:before{
    position: absolute;
    content: '';
    background-color: rgba(0, 0,0,0.286);
    width: 100%;
    height: 100%;
}
.container section .contenedor_degradado .banner .cancion figure:hover:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(img/play.svg);
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

/*CONTAINER ARTISTAS PRINCIPALES*/
.container .contenedor_contenido .titulos{
    text-align: start;
    width: 100%;
    margin-bottom: 20px;
}
.container section .contenedor_contenido .generos,
.container section .contenedor_contenido .podcast{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
.container section .contenedor_contenido .generos .cards{
    transition: var(--efecto);
    flex-basis: calc((100% / 3) - 20px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    cursor: pointer;
    flex-wrap: wrap;
    border-radius: var(--radius);
    margin: 10px;
}
.container section .contenedor_contenido .generos .cards .card_imagen{
    width: 80px;
    height: 80px;
}
.container section .contenedor_contenido .generos .cards .card_imagen img{
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.container section .contenedor_contenido .generos .cards .card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    width: calc(100% - 80px);
}

.container section .contenedor_contenido .generos .cards:hover{
    background: linear-gradient(#666666, #474747);
}
.container section .contenedor_contenido .generos .cards:hover img{
    opacity: 1;
    transition: var(--efecto);
}

audio{
    margin: 10px;
}

/*CONTAINER ALBUMS*/
.container section .contenedor_contenido .podcast .card_podcast{
    transition: var(--efecto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc((100% / 4 ) - 20px);
    margin: 10px;
    background-color: #181818;
    padding: 15px;
    cursor: pointer;
    border-radius: var(--radius);
}
.container section .contenedor_contenido .podcast .card_podcast:hover{
    background-color: #282828;
}
.container section .contenedor_contenido .podcast .card_podcast img{
    width: 100%;
    height: 100%;
}

.container section .contenedor_contenido .podcast .card_podcast h4{
    margin-top: 20px;
}

/*FOOTER*/
.container footer{
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: var(--padding);
    border-top: 1px solid #282828;
    color: #ffffff;
}
.container footer .controles{
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
}
.container footer .controles img{
    margin: 0 9px;
}
.container footer .progreso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container footer .progreso .barra_progreso{
    width: 40%;
    height: 5px;
    background-color: #282828;
    border-radius: var(--radius);
    margin: 0 16px;
}

.logoBDG{
    width: 40px;
}

.copyright ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.copyright ul li{
    list-style: none;
    padding: var(--padding);
    font-size: 15px bold;
}

/*DETALLES*/


.containerDetalles{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: #181818;
    padding-top: 100px;
    padding-bottom: 60px;
    
}

a{
    outline: none;
    text-decoration: none;
    color: white;
}

/*Detalle Cancion*/


.imagenDetalleCancion{
    height: 280px;
}

.tituloDetalleCancion{
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-family: fantasy ;
}

.tituloDetalleCancion2{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: fantasy;
}

.tituloDetalleCancion3{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: fantasy;
}


.botonPlaylist{
    background-color: #a19595;
}


/*Detalle Album*/


.tituloDetalleAlbum{
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-family: fantasy;
}


.imagenDetalleAlbum{
    height: 280px;
}

.subtituloDetalleAlbum{
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-family: fantasy;
}

.infoJustin{
    text-decoration: none;
    color: white;
}

.listaDetalleCanciones{
    text-decoration: none;
    color: white;
    list-style-type: none;
}


/*Detalle Arista*/

.imagenDetalleArtista{

    height: 525px;
    width: 450px;
}

.tituloDetalleArtista{
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-family: fantasy;
}

.detalleArtistaCanciones{
    font-size: 20px;
}

.detalleArtistaTexto{
    font-size: 25px;
}


/*GENEROS*/
.container section .contenedor_contenido .titulosection {
    text-align: start;
}

.container section .contenedor_contenido .generos .card_generos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    background-color: #181818;
    padding: 5mm;
    cursor: pointer;
    border-radius: var(--radius);
}
.container section .contenedor_contenido .generos .card_generos h4 {
    text-align: center;
}
.container section .contenedor_contenido .generos .card_generos:hover{
    background-color: #282828;
}
.imggenero {
    height: 180px;
    border-radius: var(--radius) ;
}



/*PLAYLIST*/

.container .contenedor_contenido .tituloplaylist{
    text-align: start;
}
.container section .contenedor_contenido .playlist{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    padding-bottom: 25px;
}
.container section .contenedor_contenido .playlist .cards{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    background-color: #282828;
    cursor: pointer;
    border-radius: var(--radius);
    margin: 10px;
}
.container section .contenedor_contenido .playlist .cards .card_imagen{
    width: 80px;
    height: 80px;
}
.container section .contenedor_contenido .playlist .cards .card_imagen img{

    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.container section .contenedor_contenido .playlist .cards .card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 80px);
}

.toggle{
    display: none;
    background-image: url(../img/icon-hamburger.svg);
    height: 18px;
    width: 25px;
}
@media(max-width:720px) {
    body{
        font-size: 12px;
    }

    .contenedor_degradado img{
        width: 15px;
    }

    /*MENU RESPONSIVE*/
   

   .imagenDetalleArtista{
       width: 100px;
       height: 100px;
   }
   p ul li{
       font-size: small;
   }

    .cards{
        font-size: 50%;
    }

    audio{
        width: 130px;
    }
}


@media(max-width:420px) {

    body{
        font-size: 10px;
    }
    aside a{
        font-size: 15px;
    }
    audio{
        width: 60vw;
    }

    .img{
        width: 30px;
        align-items: center;
    }

    .generos .cards {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    figure a img{
        width: 20px;
       }

       p ul li{
        font-size: small;
    }
}





